html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.layout {
    height: 100%;
    display: flex;
    align-content: center;
    align-items: center;
}

.image-uploader {
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 0 0 10px black;
    padding: 40px;
    margin: auto;
}

.crop-resizer {
    display: block;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}
  
.btn {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
  
.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}

.crop-container {
    display: flex;
    align-items: center;
}

.cropped-image-wrapper {
    margin-left: 10px;
}

.crop-canvas-wrapper {
    margin-top: 10px;
    border: 1px solid black;
    box-shadow: 0 0 10px black;
}